@charset "utf-8";
/* CSS Document */

/*----------------------------GENERAL--------------------------------*/

*
{
    font-family:  'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

a
{
    text-decoration: none;
    color: #000000;
}

ul
{
    list-style: none;
    list-style-position: outside;
}

body
{
    display: flex;
    justify-content: center;
}


/*----------------------------CONTAINER--------------------------------*/

.container
{
    /*flex: 0 1 950px;*/
    width: 950px;
    display: flex;
    flex-flow: column wrap;
}



/*----------------------------HEADER--------------------------------*/

header
{
    height: 175px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.liens-h1:hover
{
    color: red;
}

.menu
{
    display: flex;
    flex-flow: row nowrap;
    width: 275px;
    justify-content: space-around;
    font-size: 12px;
}

#gallery:hover
{
    color: red;
}

.liens-menu
{
    color: #AFAFAF;
}

.liens-menu:hover
{
    color: red;
}



/*----------------------------MAIN--------------------------------*/

.board
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.article
{
    color: #000000;
    padding-bottom: 10px;
    transition-duration: 200ms;
}

.article:hover
{
    transform: scale(1.02);
    opacity: 0.7;
}

.article-img
{
    width: 300px;
}

p
{
    text-align: center;
    font-size: 12px;
}




/*----------------------------FOOTER--------------------------------*/

.endpage
{
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    
}

.logo
{
    width: 20px;
    padding: 0px 2px;
    transition-duration: 200ms;
}

.logo:hover
{
    opacity: 0.5;
}

.signature
{
    color: #AFAFAF; 
}



/*----------------------------BUTTON fixed--------------------------------*/

.button
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    flex: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 25px;
    transition-duration: 200ms;
}

.webflow
{
    width: 15px;
    padding: 5px;
}

.button-text
{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

.button:hover
{
    background-color: blue;
    color: #FFFFFF;
}



/*----------------------------MEDIA QUERY--------------------------------*/

@media (max-width: 1000px)
{
    .container {width: 650px}
}
    
@media (max-width: 650px)
{
    .container {width: 350px}
    header
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .menu
    {
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px;
    }
}





































